.idea/
simgui-ds.json
simgui-window.json
simgui.json
networktables.json
ctre_sim/
tests/ctre_sim/
logs/*
*.wpilog
.DS_Store
*.pyc
=======
__pycache__/
WPILibNewCommands.json
/.wpilib/wpilib_preferences.json

